body {
  background-color: #3f4447;
}

.App-logo {
  text-align: center;
  font-size: 180px;
  display: block;
  margin: 0 auto;
  max-width: 120px;
  padding: 20px 0;
  color: #d16f48;
}

.App-footer {
  text-align: center;
  color: #cfd8dc;
  margin: 30px 0;
}

.App-footer a {
  color: #d16f48;
}
