.Dictionary h1 {
  margin: 12px 0;
  font-weight: 600;
  font-size: 22px;
}

.Dictionary section {
  max-width: 900px;
  margin-bottom: 25px;
  margin-right: auto;
  margin-left: auto;
  padding: 26px;
  border-radius: 6px;
  background-color: #cfd8dc;
  box-shadow: inset 1px 1px 50px 10px rgb(0 0 0 / 28%);
}

.Dictionary input {
  width: 100%;
  border-radius: 6px;
  border: 3px solid #b0bec5;
  padding: 12px;
  font-size: 20px;
  color: #263238;
}

.hint {
  margin-top: 12px;
  font-size: 14px;
}
